@model MaisAbrigo.Model.Pessoa
@{
    var abrigos = ViewBag.Abrigos as List<MaisAbrigo.Model.Abrigo>;
}

<h2>Nova Pessoa</h2>

<form asp-action="Create" method="post">
    <!-- Campo Nome -->
    <div class="form-group pessoa-nome">
        <label>
            Nome
            <input asp-for="Nome" class="form-control" />
        </label>
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <!-- Campo Idade -->
    <div class="form-group pessoa-idade">
        <label>
            Idade
            <input asp-for="Idade" class="form-control" />
        </label>
        <span asp-validation-for="Idade" class="text-danger"></span>
    </div>

    <!-- Campo Sexo -->
    <div class="form-group pessoa-sexo">
        <label>
            Sexo
            <input asp-for="Sexo" class="form-control" />
        </label>
        <span asp-validation-for="Sexo" class="text-danger"></span>
    </div>

    <!-- Campo Abrigo -->
    <div class="form-group pessoa-abrigo">
        <label>
            Abrigo
            <select asp-for="IdAbrigo" class="form-control">
                <option value="">Selecione</option>
                @foreach (var abrigo in abrigos)
                {
                    <option value="@abrigo.Id">@abrigo.Nome</option>
                }
            </select>
        </label>
        <span asp-validation-for="IdAbrigo" class="text-danger"></span>
    </div>

    <!-- Botão Salvar -->
    <div class="form-group pessoa-submit">
        <button type="submit" class="btn btn-success">Salvar</button>
    </div>
</form>

<!-- Botão Voltar -->
<div class="form-group pessoa-voltar">
    <a class="btn btn-primary btn-sm py-2 px-3 mt-4" asp-action="Index">Voltar</a>
</div>
